@page "/spareparts"
@using AutoSparePartsE_shop.Data
@inject PartsService sparePartsService

<h2>Spare Parts</h2>
<TelerikGrid Data="@parts" Height="500px"
             Pageable="true" Sortable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true">
    <GridColumns>
        <GridColumn Field="@(nameof(Product.ProductID))" Title="Picture" Filterable="false">
            <Template>
                @{

                    var product = context as Product;
                    <img class="rounded-0, align-content-md-center" height="60" width="120"
                         src="@($"/images/{product.ProductID}.jpg")" alt="Product Photo" />
                    if (product.AvailablePsc < 1)
                    {
                        <img class="rounded-circle, align-content-md-center" height="50"
                             src="@($"/images/OOSStamp.jpg")" alt="Out of Stock" />
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(Product.ProductName))" Title="Name" />
        <GridColumn Field="@(nameof(Product.ProductCategory))" Title="Category" />
        <GridColumn Field="@(nameof(Product.AvailablePsc))" Title="Psc on Stock" />
        <GridColumn Field="@(nameof(Product.ProductPrice))" Title="Retail pRice" />
    </GridColumns>

</TelerikGrid>

@code {
    private IList<Product> parts;
    protected override async Task OnInitializedAsync()
    {
        parts = await sparePartsService.GetAllPartsService();
    }
}
